body {
  background: gainsboro;
  color: #000;
}

.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  cursor: pointer;
}

button {
  height: 2.3em;
  width: 5.5em;
  border: none;
  color: #F5F5F5;
  cursor: pointer;
  border: 1px solid gray;
}

.init-btn {
  background-color: #7CFC00;
}

.pause-btn {
  background-color: #2F4F4F;
}

.stop-btn {
  background-color: red;
}